# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/
datasets/

# Model artifacts
*.pt
*.pth
*.h5
*.onnx

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
# VS Code workspace
*.code-workspace

# External repos
cs229-2018-autumn/

# Custom
da.py
side-file.ipynb
