# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/
datasets/

# Models
models/
*.pt
*.pth
*.h5
*.onnx

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

cs229-2018-autumnd
da.py